menu "SafeSense CSI transmitter network"

config SAFESENSE_WIFI_SSID
    string "Wi-Fi SSID"
    default ""

config SAFESENSE_WIFI_PASSWORD
    string "Wi-Fi password"
    default ""

config SAFESENSE_RECEIVER_IP
    string "CSI receiver IPv4 address"
    default "192.168.1.50"

endmenu
