CONFIG_SAFESENSE_TX_WIFI_SSID="SafeSense-RX-V1"
CONFIG_SAFESENSE_TX_DIRECT_LAPTOP_AP=y
CONFIG_SAFESENSE_TX_LAPTOP_AP_SSID="SafeSense-TX-Laptop"
CONFIG_SAFESENSE_TX_LAPTOP_AP_PASSWORD="SafeSenseDemo24"
CONFIG_SAFESENSE_TX_LAPTOP_HTTP_PORT=8765
CONFIG_SAFESENSE_TX_WIFI_PASSWORD="SafeSenseDemo24"
CONFIG_SAFESENSE_TX_RX_HTTP_URL="http://192.168.4.1/api/v1/tx/environment"
CONFIG_SAFESENSE_TX_RX_UDP_IP="192.168.4.1"
CONFIG_ESP_MAIN_TASK_STACK_SIZE=12288
CONFIG_BT_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y
CONFIG_BT_CLASSIC_ENABLED=y
CONFIG_BT_SPP_ENABLED=y
# CONFIG_BT_BLE_ENABLED is not set
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=y
CONFIG_ESP_COEX_SW_COEXIST_ENABLE=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_forecast.csv"
